@page
@model SupermarketWEB.Pages.Providers.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h4>Estas seguro que quieres eliminar esto?</h4>

<div>
    <h4>Provider</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Document_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Document_Number)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.First_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.First_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Last_Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Last_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider.Phone_Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Phone_Number)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Provider.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
